<!-- views/bodies/body.handlebars
-->

<!-- Container: Body -->
<div id="body" class="container-fluid">


    <!-- Row 1: Title -->
    <div class="row mr-0">

        <!-- Column 1 -->
        <div class="col-12 pr-0">

            <!-- Jumbotron -->
            <div class="jumbotron py-4 mt-3 mb-3 text-center">
                <h1 class="display-4">Nendoroid Wish List</h1>
             </div>
            <!-- Jumbotron -->

        </div>
        <!-- Column 1 -->

    </div>
    <!-- Row 1: Title -->


    <!-- Row 2 -->
    <div class="row mr-0">

        <!-- Column 1 -->
        <div class="col-4 pr-0">

            <!-- Card --->
            <div class="card flex-fill mb-3">
                <h5 class="card-header">
                    Scraped
                </h5>
                <div class="card-body">

                    <!-- Form -->
                    <form id="scrape-form">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="scrape-form-year">Year:</label> <small class="text-muted">2006-2020</small>
                                <input id="scrape-form-year" name="year" type="number" min="2006" max="2020" placeholder="Required" class="form-control" required>
                            </div>
                            <div class="form-group col-6">
                                <label for="scrape-form-limit">Limit:</label> <small class="text-muted">1-10</small>
                                <input id="scrape-form-limit" name="limit" type="number" min="1" max="10" placeholder="Required" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12 d-flex justify-content-end">
                                <button id="scrape-form-submit" type="submit" class="btn btn-primary">Scrape!</button>
                            </div>
                        </div>
                    </form>
                    <!-- Form -->

                    <!-- Clear SCraped List -->
                    <div class="form-row">
                        <div class="form-group col-12 mb-0 d-flex justify-content-end">
                            <button id="clear-scraped" type="submit" class="btn btn-primary">Clear Scraped List</button>
                        </div>
                    </div>
                    <!-- Clear SCraped List -->

                </div>
                <ul class="list-group list-group-flush">
                    {{#each scrapedNendoroids}}
                        {{> scrapedNendoroid}}
                    {{/each}}
                </ul>
            </div>
            <!-- Card --->

        </div>
        <!-- Column 1 -->

        <!-- Column 2 -->
        <div class="col-4 pr-0">

            <!-- Card --->
            <div class="card flex-fill mb-3">
                <h5 class="card-header">
                    Wish List
                </h5>
                <ul class="list-group list-group-flush">
                    {{#each savedNendoroids}}
                        {{#unless isBought}}
                            {{> savedNendoroid}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <!-- Card --->

        </div>
        <!-- Column 2 -->

        <!-- Column 3 -->
        <div class="col-4 pr-0">

            <!-- Card --->
            <div class="card flex-fill mb-3">
                <h5 class="card-header">
                    Bought!
                </h5>
                <ul class="list-group list-group-flush">
                    {{#each savedNendoroids}}
                        {{#if isBought}}
                            {{> savedNendoroid}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
            <!-- Card --->

        </div>
        <!-- Column 3 -->

    </div>
    <!-- Row 2 -->


</div>
<!-- Container: Body -->
